<h1>検索結果</h1>

<% @shops.each do |shop| %>
  <div>
    <img src="<%= shop['photo']['pc']['m'] %>">
    <%= shop['name'] %>
    <%= shop['budget']['name'] %>
    <%= shop['access'] %>
    <%= shop['address'] %>
  </div>
<% end %>
<%= paginate @shops %>