<h1>レストラン検索</h1>
<%= form_with url: "/restaurants", method: :get do |f| %>
  <input type="hidden" name="lat"> 
  <input type="hidden" name="lng"> 
  <p>検索範囲</p>
  <%= f.radio_button :range, 1 %>
  <%= f.label :range, "300m" %>
  <%= f.radio_button :range, 2 %>
  <%= f.label :range, "500m" %>
  <%= f.radio_button :range, 3, checked: true %>
  <%= f.label :range, "1000m" %>
  <%= f.radio_button :range, 4 %>
  <%= f.label :range, "2000m" %>
  <%= f.radio_button :range, 5 %>
  <%= f.label :range, "3000m" %>
  <%= f.submit "検索" %>
<% end %>
<div id="map" style="height: 500px; width: 500px;"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API'] %>&callback=initMap" async></script>

<script>
  let map;

  function initMap() {
    // 位置情報を取得
    navigator.geolocation.getCurrentPosition(function (position) {
      const lat = position.coords.latitude
      const lng = position.coords.longitude

      // 取得した位置情報を中心に表示
      map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: lat, lng: lng },
        zoom: 15
      });

      // マーカーを立てる場所の緯度経度を指定
      marker = new google.maps.Marker({
        position: { lat: lat, lng: lng },
        map: map
      });
      marker1 = new google.maps.Marker({
        position: { lat: 34.6133615, lng: lng },
        map: map
      });

      document.querySelector('input[name="lat"]').value = lat;
      document.querySelector('input[name="lng"]').value = lng;
    });
  }
</script>
