<div class="shop-container">
  <div class="image-container">
    <img src="<%= @shop['photo']['pc']['l'] %>" alt="店舗画像">
  </div>
  <div class="details-container">
    <h1><%= @shop['name'] %></h1>
    <div class="details">
      <div class="detail-row">
        <label>ジャンル</label>
        <span><%= @shop['genre']['name'] %></span>
      </div>
      <div class="detail-row">
        <label>予算</label>
        <span class="budget"><%= @shop['budget']['name'] %></span>
      </div>
      <div class="detail-row">
        <label>住所</label>
        <span class="address"><%= @shop['address'] %></span>
      </div>
      <div class="detail-row">
        <label>アクセス</label>
        <span class="access"><%= @shop['access'] %></span>
      </div>
      <div class="detail-row">
        <label>営業時間</label>
        <span class="open"><%= @shop['open'] %></span>
      </div>
      <div class="link-row">
        <a href="<%= @shop['urls']['pc'] %>">ホットペッパーのサイトへ</a>
      </div>
    </div>
  </div>
</div>
